#hn-dn-alert {
	position: fixed;
	top: 0;
	right: 0;
	padding: 15px 10px;
	margin: 10px;
	background-color: #4A4A4A;
	font-family: helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
	color: #fff;
	border-radius: 10px;
	border: 1px solid #292929;
}
